@use "./style/hero";
@use "./style/about";
@use "./style/work";
@use "./style/services";
@use "./style/cta";

@font-face {
  font-family: subtle;
  src: url("./6693860a00f08d15d33d10aa_BDOGrotesk-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-family: subtle;
  overflow-x: hidden;
}

nav {
  width: 100%;
  padding: 2px 20px;

  div {
    display: flex;
    gap: 15px;

    h4 {
      font-size: 0.45rem;
      font-weight: lighter;
    }
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 0.3rem));
  }
}
