@use "./style/hero";
@use "./style/about";
@use "./style/work";
@use "./style/services";
@use "./style/cta";
@use "./style/footer";

@font-face {
  font-family: subtle;
  src: url("./6693860a00f08d15d33d10aa_BDOGrotesk-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-family: subtle;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    width: 100%;

    padding: 0.1rem 0.5rem;

    .bottomNav {
      display: flex;
      gap: 15px;

      h4 {
        font-size: 0.45rem;
        font-weight: lighter;
      }
    }
  }
}

@media (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
  }
}

@media (min-width: 1440px) {
  nav {
    max-width: 1600px;
  }
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
