.about {
  width: 100%;
  padding: 2rem 0.2rem;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.5;
    img {
      width: 1.5rem;
      transform: rotate(5deg);
    }
    img:nth-of-type(2) {
      transform: rotate(-2deg);
    }
  }
}

@media (min-width: 768px) {
  .about {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .about {
    p {
      font-size: 1rem;
      img {
        width: 2rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .about div {
    max-width: 1024px;
  }
}
