.heroSection {
  width: 100%;
  padding-top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;

  .heroIntro {
    .introImg img {
      width: 3.5rem;
    }
    .introDes {
      h1 {
        font-size: 0.7rem;
        font-weight: 500;
      }
      p:nth-of-type(1) {
        padding-top: 0.3rem;
        font-size: 0.4rem;
        font-weight: 500;
        color: rgb(81, 81, 81);
      }
      p:nth-of-type(2) {
        font-size: 0.4rem;
        font-weight: lighter;
        padding-top: 0.1rem;
      }
    }
  }
  .heroScroll {
    margin-top: 1rem;
    p {
      font-size: 0.35rem;
      color: rgb(81, 81, 81);
    }
  }
  .divide {
    margin-top: 1rem;
    width: 100%;
    border: 1px solid black;
    border-width: 0.01rem;
  }
  .scrolling {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    gap: 0.3rem;
    user-select: none;
    ul {
      list-style: none;
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      gap: 0.3rem;
      animation: scroll 25s linear infinite;
    }
  }
}
